div, span, p, a, li, h1, h2, h3 {
	font-family: $nobel-light;
}
button, input[type="submit"], a {
	cursor: pointer;
}
h1, h2, h3, h4 {
	letter-spacing: 2px;
}

//CENTRALIZED Z-INDEXING
#dynamic-header {z-index: 50;}
#sidebar-wrap {z-index: 60;}
