* {margin:0;padding:0;}
div, span, p, a, li, h1, h2, h3 {
	font-family: $nobel-light;
}
button, input[type="submit"], a {
	cursor: pointer;
}
h1, h2, h3, h4 {
	letter-spacing: 2px;
}
.section {
	padding: 0 !important;

	figcaption, footer {
		bottom: 15% !important;
		padding: 30px 10% !important;
		position: absolute;
		width: 100%;
		z-index: 10;
		background:rgba(0,0,0,0.5);
		span, h1, p, {
			color: #fff;
			font-family: $nobel;
			font-size: 1.3em;
			letter-spacing: 1px;
			text-align: center;
		}
	}
}
