.dynamic-header { //namespace
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	background: $brown;
	z-index: 50;
	text-align: center;
	padding: 0;

	h2 {
		line-height: 70px !important;
		padding: 0 !important;
		text-align: center;
		font-family: $nobel-light;
		font-size: 1.7em !important;
		font-weight: 100;
		letter-spacing: 4px;
	}
}/*(namespace)*/
