#dynamic-header { //namespace
	height: 60px;width: 100%;
	box-sizing: content-box;
	padding: 10px 0;
	position: fixed;
	top: 0;
	z-index: 50;
	background: $brown;
	border-bottom: 10px solid $sand;
	text-align: center;

	h2 {
		line-height: 60px !important;
		padding: 0 !important;
		text-align: center;
		font-family: $nobel-light;
		font-size: 1.7em !important;
		font-weight: 100;
		letter-spacing: 4px;
	}

	.btn-wrapper {
		height: 100%;width:200px;
		position: absolute;
		top:0;right:0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;

		button {
			height:30px;width:100px;
			margin:0;padding:0;
			box-sizing: border-box;
			font-size: .6em;
			font-weight: bold;
			background: #fff;
			color: $bronze;
		}
	}

}//namespace
