//FONT DECLARATIONS
@font-face {
    font-family: 'dtl_nobelt_light';
    src: url('..fonts/dtlnobelt-light-webfont.eot');
    src: url('../fonts/dtlnobelt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dtlnobelt-light-webfont.woff2') format('woff2'),
         url('../fonts/dtlnobelt-light-webfont.woff') format('woff'),
         url('../fonts/dtlnobelt-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dtl_nobelt_regular';
    src: url('../fonts/dtlnobelt-webfont.eot');
    src: url('../fonts/dtlnobelt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dtlnobelt-webfont.woff2') format('woff2'),
         url('../fonts/dtlnobelt-webfont.woff') format('woff'),
         url('../fonts/dtlnobelt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//VARIABLE DECLARATIONS
$nobel: 'dtl_nobelt_regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$nobel-light: 'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$brown: #5A5854;
$bronze: #B39153;
$sand: #E6D3BC;
