@charset "UTF-8";
/* CSS Document */
body {
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'dtl_nobelt_light';
    src: url('..fonts/dtlnobelt-light-webfont.eot');
    src: url('../fonts/dtlnobelt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dtlnobelt-light-webfont.woff2') format('woff2'),
         url('../fonts/dtlnobelt-light-webfont.woff') format('woff'),
         url('../fonts/dtlnobelt-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dtl_nobelt_regular';
    src: url('../fonts/dtlnobelt-webfont.eot');
    src: url('../fonts/dtlnobelt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dtlnobelt-webfont.woff2') format('woff2'),
         url('../fonts/dtlnobelt-webfont.woff') format('woff'),
         url('../fonts/dtlnobelt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dtl_nobelt_bold';
    src: url('../fonts/dtlnobelt-bold-webfont.eot');
    src: url('../fonts/dtlnobelt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dtlnobelt-bold-webfont.woff2') format('woff2'),
         url('../fonts/dtlnobelt-bold-webfont.woff') format('woff'),
         url('../fonts/dtlnobelt-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h2, h3, p {
	color:#ffffff;
	font-family:'dtl_nobelt_regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2, h3 {
	text-transform:uppercase;
	text-align:left;
}
h2 {	
	font-size:1.5em;
	padding:1em 0;
	letter-spacing:1px;
}

header h2 {
	text-align:center;
	line-height:10px !important;	
	font-size: 1em !important;
	padding: 1.5em 0px !important;
}

h3 {
	font-size:1em;
	padding:1.5em 0 .5em;
}

p, .fp-slides h3 {
	font-family:'dtl_nobelt_regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
	font-size:1em;
	text-align:left;
	line-height:1.4em;
	letter-spacing:0px;
}

.fp-slides h2 {
	    font-family: 'dtl_nobelt_bold', 'Helvetica Neue', Arial, sans-serif !important;
}

.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
    display: none;
}
.dining-info p {
font-family:'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;	
}
sup {
	font-size:small;
}

figcaption {
	font-family:'dtl_nobelt_regular', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	bottom: 0 !important;
	position: absolute;
	color: rgb(255, 255, 255);
	margin: auto;
	width: 100%;
	font-weight:200;
	letter-spacing:1px;
	padding:15px !important;
}

/* Floor Plan Section */

.floorplan-info {
	text-transform:uppercase;
	text-align:left;
	padding:30px;
	float:left;
}

.floorplan-info h2 {
	padding-top:0px;
}

.floorplan-info h2, .floorplan-info h3, .floorplan-info p, .floorplan-info, .floorplan-info li a {
	color:#49423D;
}

.floorplan-info li a {
	text-decoration:none;
}

.plan-details, .plan-features, .btn-print, .btn-zoom {
	font-size:.8em;
	line-height:1.5em;
	letter-spacing:1px;
}


.btn-zoom, .btn-print {
	list-style-position:inside;
	line-height: 2em;
	
}

.btn-print li:before { 
	content:'';  
	display:inline-block;
	height:16px;
	width:14px;
	background:url('../images/print-icon.svg') no-repeat;
	margin-right:5px; 
}

.plan-features {
	font-family:'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top:30px;
	line-height:2em;
	max-width: 500px;
}

.plan-features li {
	/*
	list-style-image:url(../images/diamond-bullet-point.png);
	*/
	list-style-type:none;
	list-style-position:inside;
	line-height: 1.4em;
	padding-bottom: 15px;
}

/*
.plan-features li:before { 
	content:"\25C7";
	margin-right:10px;
	position:relative;
	bottom:1px;
}
*/
	

button {
	text-transform:uppercase;
	font-size:.7em;
	letter-spacing:1px;
	background:	#49423D;
	padding:10px 20px;
	margin:30px 0;
	border:none;
	color:#ffffff;
	border-radius: 2px;
}

.floorplan {
	background-image:url(../images/seychelle-floorplan-penthouse-901.gif);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:top;
	height: 400px;
	margin-top: 150px;
}

/* Property Features */

.property-features, .highlights, .dining-info {
    height:auto;
	min-height: 100%;
    padding-bottom: 150px !important;
}

.property-features p {
	font-family:'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:1.25em;
	line-height:1.5em;	
}

/* Dining Section */

.dining-info h2, .property-features h2, .highlights h2, .contact h2 {
	padding-top:150px;	
}

.dining-info, .property-features, .highlights {
	padding: 0 30px;
	background: rgba(73,66,60,0.8);
}


@media (max-width: 900px) {

figcaption {
line-height: 20px;
letter-spacing: 0;
font-size: 14px;
line-height: 18px !important;
text-align:left;

}

.floorplan {
margin-top:75px;
}

}

/* Additional Property Highlights */
 .highlights {
	font-family:'dtl_nobelt_light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#ffffff;
	text-align:left;
	padding:0 30px;
 }
 
 .highlights ul {
	 /*
	 list-style-image:url(../images/diamond-bullet-point-white.png);
	 */
	 list-style-position:inside;
	 list-style-image:none;
 }


.highlights li:before {
	content:"\25C7";
	margin-right:10px;
	position:relative;
	bottom:1px; 
} 

 .highlights li {
    font-size: 1em;
	line-height: 1.2em;
	list-style-position: outside !important;
	padding-bottom: 15px;
}
 
 
 /* Neighborhood Section */

.place h3 {
	line-height:1em;
	padding:10px 0;
}

.caption-wrap {
max-width: 1280px;
margin: auto;
padding: 0px 10px;
line-height:20px !important;
}

figcaption h3 {
	   font-family: 'dtl_nobelt_bold', 'Helvetica Neue', Arial, sans-serif !important;
	   font-size:.8em;
}


 footer {
	color:#ffffff;
	background:rgb(73,66,60);
	font-family:'dtl_nobelt_regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:10px;
	text-transform: uppercase;
	line-height: 15px;
	padding: 10px;
	width:100%;
	bottom:20px;
	position:absolute;
	letter-spacing:1px;
}

.legal-footer {
	font-size: 9px;
	background: #000000 none repeat scroll 0% 0%;
	position:absolute;
	bottom:0;
	height: 20px;
	line-height: 0px;
	padding:10px;
	color:#ffffff;
}

.legal-footer a {
	padding: 0px 10px;
	text-decoration:none;
	color:#ffffff;
}



 /* Non-mobile queries */

 @media (min-width:700px) {

.highlights, .property-features, .dining-info {
	padding-left: 250px;
	padding-right: 100px;
 }

.floorplan-info { 
padding: 0 50px 150px 250px;
 }

figcaption h3 {
	display:none;
}
 
.property-features, .highlights { 
	paddig-bottom:0;
}

.floorplan {
	background-position:center;
	height: 650px;
}

.floorplan-info h2 {
    padding-top: 100px;
}

 .highlights li {
	 font-size:1.2em;
	 line-height:2em;
     line-height: 1.5em;
 }
 
 .cbp-mc-submit-wrap, .contact h2 {
text-align:left !important;
padding-left: 30px !important;
}


}
 
@media (min-width:1000px) {

.floorplan {	  
	float: right;
	width: 50%;
}

.floorplan-info {
	float:left;
	width:50%;
	padding-top:50px;
	padding-right: 0px;
}

.highlights, .property-features {
	padding-right: 250px;
 }
 
 .dining-info {
	padding-left: 250px;
	padding-right: 200px;
 }
	  
.property-features p {
    font-size: 1.5em;
    line-height: 1.6em;	 
 }
 
 footer {
	font-size:14px;
	line-height:20px;
	 }

 }
 

 @media (min-width:700px) and (max-width:1599px) {
	  .contact {
		 padding: 0 50px 0 250px;
	 }
 }
 
 @media (min-width:1600px) {
	 .contact {
		 padding: 0 250px;
	 }
.dining-info p {
		 font-size: 1.2em;
	 }
 }
 

@media all and (max-width:640px)  {
	
.plan-features li {
	list-style-type:none;
	list-style-position:outside;
	
}

.plan-features li:before, .highlights li:before {
	content:"";
	margin-right:0px;
}

header h2 {
    text-align: left;
	padding-left:30px !important;
}


}

@media all and (max-width:420px)  {
.legal-footer {
	display:none;
}
footer {
	bottom:0px;
}
}


/* iPhone 6 + 6 Plus Landscape */

@media (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    figcaption {
		font-size:10px;
		line-height:14px;
		bottom:0px;
	}
	.side-wrap #sidenav {
    	display:none;
}
}