#fullpage {

	#section1 {
		#slide1 {
			background-image: url('../img/section1+slide1_living-room-with-a-view-of-los-angeles.jpg');
		}
		#slide2 {
			background-image: url('../img/section11+slide2_lobby-with-doorman-and-concierge.jpg');
		}
		#slide3 {
			background-image: url('../img/section6+slide3_master-bedroom-overlooking-downtown-los-angeles.jpg');
		}
	}

	#section2 {
		background-image: url('../img/section2+section20_terrace-breathtaking-views-of-la.jpg');
	}
	#section3 {
		background-image: url('../img/section3_expansive-great-room-dramatic-views-terrace-and-two-fireplaces.jpg');
	}
	#section4 {
		background-image: url('../img/section4_chefs-kitchen-with-terrace-and-exceptional-appliances.jpg');
	}
	#section5 {
		background-image: url('../img/section5_stunning-formal-dining-room.jpg');
	}
	#section6 {
		background-image: url('../img/section6+slide3_master-bedroom-overlooking-downtown-los-angeles.jpg');
	}
	#section7 {
		background-image: url('../img/section7_full-bathrooms-his-her-master-baths.jpg');
	}
	#section8 {
		background-image: url('../img/section18_getty-museum-featuring-art-photography-architecture-and-gardens.jpg');
	}
	#section9 {
		background-image: url('../img/section10_exterior-with-acres-of-lush-gardens.jpg');
	}
	#section10 {
		background-image: url('../img/section11+slide2_lobby-with-doorman-and-concierge.jpg');
	}
	#section12 {
		background-image: url('../img/section12_swimming-pool-with-whirlpool-lounges-and-private-furnished-cabanas.jpg');
	}
	#section13 {
		background-image: url('../img/section13_fitness-center-with-yoga-pilates-studio.jpg');
	}
	#section14 {
		background-image: url('../img/section14_plush-multimedia-screening-room-lounge.jpg');
	}
	#section15 {
		background-image: url('../img/section15_on-site-restaurant-hinoki-and-the-bird-from-chef-david-meyers.jpg');
	}
	#section16 {
		background-image: url('../img/section16_outdoor-lounge-and-firepit.jpg');
	}
	#section17 {
		background-image: url('../img/section17_botique-shopping-destination-rodeo-drive.jpg');
	}
	#section181 {
		background-image: url('../img/section18_getty-museum-featuring-art-photography-architecture-and-gardens.jpg');
	}
	#section19 {
		background-image: url('../img/section19_nearby-golf-courses-and-country-clubs.jpg');
	}
	#section20 {
		background-image: url('../img/section2+section20_terrace-breathtaking-views-of-la.jpg');
	}


}
