#fullpage {

/* BACKGROUNDS (SKIP SECTIONS 8-9) */

	#slide1 {background-image: url('../img/section1+slide1_living-room-with-a-view-of-los-angeles.jpg');}
	#slide2 {background-image: url('../img/section11+slide2_lobby-with-doorman-and-concierge.jpg');}
	#slide3 {background-image: url('../img/section6+slide3_master-bedroom-overlooking-downtown-los-angeles.jpg');}
	#section2 {background-image: url('../img/section2+section20_terrace-breathtaking-views-of-la.jpg');}
	#section3 {background-image: url('../img/section3_expansive-great-room-dramatic-views-terrace-and-two-fireplaces.jpg');}
	#section4 {background-image: url('../img/section4_chefs-kitchen-with-terrace-and-exceptional-appliances.jpg');}
	#section5 {background-image: url('../img/section5_stunning-formal-dining-room.jpg');}
	#section6 {background-image: url('../img/section6+slide3_master-bedroom-overlooking-downtown-los-angeles.jpg');}
	#section7 {background-image: url('../img/section7_full-bathrooms-his-her-master-baths.jpg');}
	#section10 {background-image: url('../img/section10_exterior-with-acres-of-lush-gardens.jpg');}
	#section11 {background-image: url('../img/section11+slide2_lobby-with-doorman-and-concierge.jpg');}
	#section12 {background-image: url('../img/section12_swimming-pool-with-whirlpool-lounges-and-private-furnished-cabanas.jpg');}
	#section13 {background-image: url('../img/section13_fitness-center-with-yoga-pilates-studio.jpg');}
	#section14 {background-image: url('../img/section14_plush-multimedia-screening-room-lounge.jpg');}
	#section15 {background-image: url('../img/section15_on-site-restaurant-hinoki-and-the-bird-from-chef-david-meyers.jpg');}
	#section16 {background-image: url('../img/section16_outdoor-lounge-and-firepit.jpg');}
	#section17 {background-image: url('../img/section17_botique-shopping-destination-rodeo-drive.jpg');}
	#section18 {background-image: url('../img/section18_getty-museum-featuring-art-photography-architecture-and-gardens.jpg');}
	#section19 {background-image: url('../img/section19_nearby-golf-courses-and-country-clubs.jpg');}
	#section20 {background-image: url('../img/section2+section20_terrace-breathtaking-views-of-la.jpg');}

	.section, .slide {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

/* INDIVIDUAL SECTION STYLINGS */
	
	#section1 {
		figcaption {
			bottom: 20% !important;
		}
	}

	#section8 { //floorplan-information
		h1, h2, h3, li {color: $blackish;margin: 0;padding: 0;}
		h2, h3, .feature-items li {margin-bottom: 10px;}
		h1 {
			font-family: $nobel;
			font-size: 2em;
			font-weight: normal;
			text-transform: uppercase;
			margin-top: 40px;
		}
		.pdf {
			margin-top: 20px;
			li {
				list-style: none;
				font-family: $nobel-light;
				font-size: .7em;
				text-transform: uppercase;
				&:before {
					content: '';
					display: inline-block;
					height: 16px;width:14px;
					//position: absolute;
					margin-right: 5px;
					background: url('../img/print-icon.svg') no-repeat;
					background-size: contain;
				}
				a {
					font-family: $nobel-light;
					font-size: 1em;
					text-transform: uppercase;
					font-weight: bold;
					text-decoration: none;
					color: $brown;
				}
			}
		}
		h2 {
			font-size: 1.2em;
			font-weight: normal;
			letter-spacing: 3px;
			margin: 40px 0 5px;
		}
		h3 {
			font-size: .8em;
			letter-spacing: 1px;
			text-transform: none;
		}
		.feature-items {
			li {
				list-style: none;
				font-family: $nobel-light;
				font-size: .8em;
				letter-spacing: .8px;
				line-height: 1.4em;
			}
		}
	}

	#section9 {//floorplan image
		.inner-wrap {
			padding-left:0;
			//background: red;
			img {
				margin-top: 90px;
				max-width: 1200px;
				position: absolute;
				top:50%;left:50%;
				transform: translate(-50%,-50%);
				width:100%;
			}
		}
	}

	#section10 { //features-start
		.inner-wrap {
			padding-left: 100px;
			padding-right: 100px;

			h2 {
				font-size: 2.3em;
				font-weight: normal;
				letter-spacing: 3.5px;
				text-align: center;
				margin:0;padding: 100px 0 200px;
			}
			p {
				font-size: 1.2em;
				text-align: justify;
				display: block;
				margin: 0 auto;
				max-width: 900px;
				overflow-x: visible;
			}
		}
	}

	#section15 { //features-restaurant
		figcaption {
			.logo {
				display: block;
				height: 100px;
				margin: 0 auto 20px;
			}
			p {
				font-family: $nobel;
				font-size: 1em;
			}
		}
	}

	#section16 {//features-additional
		h2, li {color: #fff;}
		h2 {
			font-family: $nobel;
			font-size: 2em;
			font-weight: normal;
			text-transform: uppercase;
			margin-top: 40px;
		}
		.feature-items {
			padding-left: 20px;
			li {
				list-style-position: outside;
				font-family: $nobel-light;
				font-size: 1.2em;
				font-weight: bold;
				letter-spacing: .8px;
				line-height: 1.4em;
				margin-bottom: 8px;
				sup {
					font-size: .5em;
				}
			}
		}
		footer {
			bottom:0;
			height: 70px;width: 100%;
			margin:0;padding:0;
			padding: 30px 40px;
			position: absolute;
			text-align: center;
			background: $brown;
			span {
				height: 100%;
				font-family: $nobel-light;
				font-size: 1.1em;
				font-weight: normal;
				text-align: center;
			}
		}
	}

	#section19 {
		position: relative;

		figcaption {
			bottom: 180px !important;
		}

		footer {
			padding: 0 !important;
			position: absolute;
			bottom:0 !important;
			&, * {margin:0;padding: 0;}
			div {
				height: 70px;
				width: 100%;
			}
			.cta-button {
				background: $bronze;
				position: relative;
				button {
					color: $brown;
					background: #fff;
					border-radius: 2px;
					font-family: $nobel;
					font-size: .9em;
					font-weight: bold;
					padding:10px 25px;
					position: absolute;
					top:50%;left:50%;
					transform: translate(-50%, -50%);
				}
			}
			.sales-agent {
				background: $brown;
				text-align: center;
				span {
					font-family: $nobel-light;
					font-size: .9em;
					font-weight: bold;
					line-height: 70px;
				}
			}

		}

	}

	#section20 {
		padding-top: 90px !important;
		//padding-bottom: 90px !important;
		h2,form {position:static;}

		.contact-wrap {
			margin: 30px auto 90px;
			max-width: 700px;
			h2 {
				color: $brown;
				margin:0;
				padding: 30px 0 10px 30px;
				text-align: left;
			}
		}
		footer {
			background: $brown;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			align-content: center;
			&, * {padding:0;margin:0;}
			padding: 0 20px !important;
			* {margin: 10px 0;}
			.logo {
				margin:0;
				vertical-align: bottom;
			}
			.sales {
				font-size: .5em;

			}
			.disclaimer-open {
				font-size: .7em;
			}

		}
	}

}

#disclaimer {
	display: none;
}
