#sidebar-wrap { //namespace

	position: fixed;
	top:0;left:25px;
	width: 180px;

	.banner {
		width: 100%;
		height: 120px;
		box-sizing: border-box;
		padding: 15px 10px;
		background: #fff;
		img {height: 100%;width:100%;}
	}

	.sidenav {
		box-sizing: border-box;
		padding: 30px 10px;
		background: $bronze;

		li {list-style: none;}
		.main-items {
			color: #fff;
			font-size: .8em;
			letter-spacing: 2px;
			li {line-height: 1.8em;}
			a {font-family: $nobel-light;}
		}
		.sub-items {
			color: $sand;
			font-size: .8em;
			letter-spacing: .5px;
			margin-bottom: 15px;
			li {line-height: 1.6em;}
			a {font-family: $nobel;}
		}
		li:hover {color:$brown;}
		li.active {color: $brown;}
	}

	//TEMPORARY
	.sub-items {display:none;}

}//namespace
